@import url(./libs/normalize.css);

@font-face {
  font-family: "Montserrat";
  font-display: block;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: block;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: block;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: block;
  src: url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: block;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: block;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: block;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: block;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: block;
  src: url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

ol,
ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

section {
  overflow: hidden;
}

address {
  font-style: normal;
}

input,
textarea {
  border: none;
  outline: none;
  resize: none;
}

button {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.small-icon {
  max-width: 14px;
  max-height: 14px;
}

.svgcontainer {
  position: relative;
}

.svgcontainer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 300%;
  height: 100%;
}

.svgcontainer_small {
  width: 14px;
  height: 14px;
}

* {
  font-family: Montserrat;
}

a,
h2,
h3,
p,
div,
span {
  color: #3e3f43;
}

h1 {
  font-weight: 500;
  font-family: Raleway;
  color: #76777a;
  font-size: 48px;
  margin-left: 2vw;
}

h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo svg {
  width: 43px;
  height: 43px;
  margin-right: 10px;
}

.logo__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.45px;
  font-family: Raleway;
  font-weight: 500;
}

.logo__upper {
  font-size: 18px;
}

.header {
  position: relative;
  font-family: Raleway;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.header .line:nth-child(2) {
  background-color: rgba(240, 240, 240, 0.9);
}

.header .line:nth-child(3) {
  background-color: rgba(248, 248, 248, 0.9);
}

.header__content {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  min-width: 27px;
}

.header__search svg {
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 27px;
  height: 27px;
}

.header__search svg:nth-child(2) {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
      -ms-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  opacity: 0;
}

.header__search input {
  padding-left: 0 !important;
  max-height: 100%;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  opacity: 0;
  width: 100%;
  position: absolute;
  right: -10px;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 8px 15px;
  padding-right: 45px;
  background-color: white;
}

.header__search input::-ms-clear {
  display: none;
}

.header__search:nth-last-child(1) {
  -webkit-transition-delay: 280ms;
       -o-transition-delay: 280ms;
          transition-delay: 280ms;
}

.header__search:nth-last-child(2) {
  -webkit-transition-delay: 210ms;
       -o-transition-delay: 210ms;
          transition-delay: 210ms;
}

.header__search:nth-last-child(3) {
  -webkit-transition-delay: 140ms;
       -o-transition-delay: 140ms;
          transition-delay: 140ms;
}

.header__search:nth-last-child(4) {
  -webkit-transition-delay: 70ms;
       -o-transition-delay: 70ms;
          transition-delay: 70ms;
}

.header__search:nth-last-child(5) {
  -webkit-transition-delay: 0ms;
       -o-transition-delay: 0ms;
          transition-delay: 0ms;
}

.header__search.active svg:first-child {
  opacity: 0;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.header__search.active svg:nth-child(2) {
  opacity: 0.3;
  -webkit-transform: translateY(-50%) scale(1);
      -ms-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

.header__search.active input {
  opacity: 1;
  pointer-events: auto;
}

.header__logoblock {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  width: 1060px;
  max-width: 80%;
  margin-left: auto;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav ul li {
  -webkit-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__nav ul li a {
  font-size: 18px;
  color: #3e3f43;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav ul li::before {
  -webkit-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  max-height: 0;
  width: 100%;
  content: "";
  background-color: #3ea3f2;
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  28% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  36% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  64% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  72% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }

  100% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  28% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  36% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  64% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  72% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }

  100% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

.headline {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 38px;
}

.headline a {
  white-space: nowrap;
}

.headline__location {
  color: #3e3f43;
}

.headline__location .svgcontainer {
  padding-right: 10px;
}

.headline__links a {
  color: #3ea3f2;
}

.headline__location,
.headline__links,
.headline__contacts,
.headline__recall {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.headline__contacts {
  color: #3ea3f2;
  font-family: Montserrat;
  position: relative;
}

.headline__contacts a {
  margin-right: 40px;
}

.headline__recall {
  font-size: 18px;
  color: #3ea3f2;
  font-weight: 500;
  margin-left: 100px;
}

.headline__recall .svgcontainer {
  width: 20px;
  height: 20px;
  padding-right: 15px;
}

.burger {
  cursor: pointer;
  width: 30px;
  height: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__inner,
.burger::before,
.burger::after {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #3e3f43;
}

.burger::before {
  top: 0;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}

.burger::after {
  bottom: 0;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}

.burger.active .burger__inner {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger.active::before {
  -webkit-transform: translateY(-4.5px) rotate(45deg);
      -ms-transform: translateY(-4.5px) rotate(45deg);
          transform: translateY(-4.5px) rotate(45deg);
  width: calc(30px * 1.4142);
}

.burger.active::after {
  -webkit-transform: translateY(4.5px) rotate(-45deg);
      -ms-transform: translateY(4.5px) rotate(-45deg);
          transform: translateY(4.5px) rotate(-45deg);
  width: calc(30px * 1.4142);
}

.breadcrumbs {
  background-color: #f8f8f8;
  padding-top: 10px;
}

.breadcrumbs ul {
  margin: 0 auto;
  width: 97%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.breadcrumbs ul li:first-child {
  margin-left: 1vw;
}

.breadcrumbs ul li:not(:last-child) {
  padding-right: 7px;
}

.breadcrumbs ul li:not(:last-child) a {
  opacity: 0.4;
}

.breadcrumbs ul li svg {
  max-width: 9px;
  max-height: 9px;
  padding-right: 7px;
}

.breadcrumbs ul li a {
  font-size: 14px;
  color: #3e3f43;
}

.footer {
  padding-top: 80px;
  font-family: Montserrat;
  color: #3e3f43;
  background-color: #f0f0f0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 80px;
}

.footer__container {
  height: 225px;
  margin-bottom: 50px;
}

.footer__container + .footer__container {
  border-left: 1px solid rgba(196, 196, 196, 0.5);
}

.footer__container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  max-width: 20%;
}

.footer__logoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.footer__logotext {
  width: 248px;
  max-width: calc(100% - 15px);
  font-size: 14px;
  line-height: 150%;
}

.footer__container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__container-nav ul {
  height: 150px;
  width: 300px;
  max-width: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__container-nav ul li {
  height: 25%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding-left: 5px;
}

.footer__container-nav ul li a {
  white-space: nowrap;
  font-size: 18px;
  color: #3e3f43;
}

.footer__container-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__infocontainer {
  padding-bottom: 10px;
  width: 290px;
  margin: 0 auto;
  max-width: calc(100% - 30px);
}

.footer__infocontainer + .footer__infocontainer {
  border-top: 1px solid rgba(196, 196, 196, 0.5);
  padding-top: 10px;
}

.footer__infoblock {
  display: block;
  position: relative;
}

.footer__infoblock + .footer__infoblock {
  margin-top: 10px;
}

.footer__infoblock svg {
  max-width: 15px;
  max-height: 15px;
  position: absolute;
  left: 0;
  top: 3px;
}

.footer__infoblock-text {
  font-size: 16px;
  line-height: 120%;
  padding-left: 25px;
}

.footer__container-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.footer__container-question button {
  max-width: 80%;
}

.footer__question-title {
  font-size: 22px;
  padding-bottom: 10px;
}

.footer__question-subtitle {
  font-family: Raleway;
  font-size: 14px;
  padding-bottom: 30px;
}

.footer__question-time {
  padding-top: 30px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__question-time .svgcontainer {
  width: 22px;
  height: 22px;
  position: relative;
  margin-right: -5px;
  left: -10px;
}

.footer__question-time span {
  white-space: nowrap;
}

.footer__question-time span:last-child {
  font-weight: 500;
  padding-left: 5px;
}

.footer__question-time span:not(:last-child) {
  font-weight: 400;
  color: rgba(62, 63, 67, 0.5);
}

.footer__endline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(196, 196, 196, 0.5);
}

.footer__endline span {
  opacity: .7;
  font-size: 16px;
}

.footer__endline span:last-child {
  font-weight: 500;
}

.socialline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  background-color: rgba(62, 63, 67, 0.8);
}

.socialline_vertical {
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px 0px 0px 5px;
}

.socialline_vertical li:not(:last-child) {
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 5px;
}

.socialline_vertical li:not(:first-child) {
  padding-top: 5px;
}

.socialline_vertical li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  padding: 5px;
}

.socialline_vertical li a svg {
  fill: #efeff0;
  opacity: 1;
  max-height: 100%;
  max-width: 100%;
}

#up {
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  left: calc(95% - 60px);
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: -60px;
  z-index: 10;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

#up svg {
  max-width: 100%;
  max-height: 100%;
}

#up:not(.visible) {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(calc(-7vh - 100%));
      -ms-transform: translateY(calc(-7vh - 100%));
          transform: translateY(calc(-7vh - 100%));
}

.button {
  width: 243px;
  height: 46px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.button_blue {
  color: white;
  background-color: #3ea3f2;
  -webkit-box-shadow: 0 20px 25px -10px rgba(62, 163, 242, 0.5);
          box-shadow: 0 20px 25px -10px rgba(62, 163, 242, 0.5);
}

.button_blue:hover {
  background-color: #0A90FF;
  -webkit-box-shadow: 0 20px 25px -8px rgba(62, 163, 242, 0.55);
          box-shadow: 0 20px 25px -8px rgba(62, 163, 242, 0.55);
}

.button_black {
  color: #3e3f43;
  background-color: transparent;
  border: 1px solid #3e3f43;
}

.button_black:hover {
  background-color: #3e3f43;
  color: white;
}

.button_white {
  color: #3e3f43;
  background-color: white;
}

.bgtext {
  z-index: -1;
  position: absolute;
  font-size: 147px;
  font-family: Raleway;
  font-weight: 800;
}

.bgtext__less {
  font-family: Raleway;
  font-size: 96px;
}

.wrapper {
  width: 74%;
  max-width: 1420px;
  margin: 0 auto;
  min-width: 1050px;
}

main {
  position: relative;
  background-color: #f8f8f8;
}

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__image {
  width: 100%;
  height: 309px;
  -o-object-fit: "cover";
     object-fit: "cover";
  -o-object-position: center;
     object-position: center;
  font-family: "object-fit: cover; object-position: center";
  margin-bottom: 15px;
}

.card__title {
  padding: 8px 30px 15px;
  font-weight: 500;
  font-size: 30px;
}

.card__text {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0px 25px;
  margin-bottom: 5px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.card__blueline {
  margin: 0 25px;
  height: 2px;
  background-color: #3ea3f2;
}

.card__date {
  text-align: right;
  padding: 20px 25px;
  font-size: 18px;
}

.blog {
  margin-bottom: 40px;
}

.blog__wrapper {
  padding-top: 70px;
  position: relative;
  z-index: 1;
}

.blog__title {
  margin-bottom: 50px;
}

.blog__bgtext {
  color: #989898;
  opacity: 0.2;
  left: -10px;
  top: 0;
}

.blog__bgtext {
  z-index: -1;
  position: absolute;
  font-size: 147px;
  font-family: Raleway;
  font-weight: 800;
}

.blog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.blog__card {
  width: 31.9%;
  min-height: 575px;
}

.posts {
  padding-bottom: 30px;
}

.posts__title {
  margin-left: 1.5vw;
  padding-bottom: 40px;
  color: #989898;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 500;
}

.post__image {
  width: 100%;
  height: 455px;
  -o-object-fit: "cover";
     object-fit: "cover";
  -o-object-position: center;
     object-position: center;
  font-family: "object-fit: cover; object-position: center";
}

.post__container {
  background-color: white;
  padding-top: 45px;
  padding-bottom: 25px;
  margin-bottom: 40px;
}

.post__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__info {
  padding: 0px 45px;
  padding-bottom: 45px;
  border-right: 1px solid #3ea3f2;
}

.post__info:not(:empty) {
  padding-top: 0;
}

.post__title {
  margin-top: 10px;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
}

.post__time {
  position: relative;
  font-size: 18px;
  padding-left: 25px;
  margin-bottom: 60px;
}

.post__time::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3ea3f2;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}

.post__text {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 5px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  padding-bottom: 50px;
}

.post__tags {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 45px;
  min-width: 23%;
  border-left: 1px solid #3ea3f2;
}

.post__button {
  margin-left: 45px;
  height: 46px;
  width: 305px;
  -webkit-transform: translateY(-70%);
      -ms-transform: translateY(-70%);
          transform: translateY(-70%);
}

.tags__title {
  color: #9f9fa1;
  font-size: 18px;
  margin-bottom: 29px;
  font-weight: 400;
}

.tags__list li {
  margin-bottom: 13px;
}

.tags__list li a {
  color: #3ea3f2;
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  .header__burger {
    display: none;
  }

  .header__search.active input {
    width: 400px;
    max-width: 400px;
  }

  .header__search.active ~ nav ul li:nth-last-child(1) {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition-delay: 0ms;
         -o-transition-delay: 0ms;
            transition-delay: 0ms;
  }

  .header__search.active ~ nav ul li:nth-last-child(2) {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition-delay: 70ms;
         -o-transition-delay: 70ms;
            transition-delay: 70ms;
  }

  .header__search.active ~ nav ul li:nth-last-child(3) {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition-delay: 140ms;
         -o-transition-delay: 140ms;
            transition-delay: 140ms;
  }

  .header__nav ul li {
    -webkit-transition: 0.4s ease 0ms;
    -o-transition: 0.4s ease 0ms;
    transition: 0.4s ease 0ms;
  }

  .header__nav ul li:nth-last-child(1) {
    -webkit-transition-delay: 280ms;
         -o-transition-delay: 280ms;
            transition-delay: 280ms;
  }

  .header__nav ul li:nth-last-child(2) {
    -webkit-transition-delay: 210ms;
         -o-transition-delay: 210ms;
            transition-delay: 210ms;
  }

  .header__nav ul li:nth-last-child(3) {
    -webkit-transition-delay: 140ms;
         -o-transition-delay: 140ms;
            transition-delay: 140ms;
  }

  .header__nav ul li:nth-last-child(4) {
    -webkit-transition-delay: 70ms;
         -o-transition-delay: 70ms;
            transition-delay: 70ms;
  }

  .header__nav ul li:nth-last-child(5) {
    -webkit-transition-delay: 0ms;
         -o-transition-delay: 0ms;
            transition-delay: 0ms;
  }

  .header__nav ul li:hover::before {
    height: 6px;
    max-height: 6px;
  }
}

@media screen and (max-width: 1600px) {
  .breadcrumbs ul {
    width: 98.5%;
  }
}

@media screen and (max-width: 1220px) {
  .wrapper {
    width: 86.25%;
    min-width: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .headline__contacts {
    width: 180px;
    overflow: hidden;
  }

  .headline__contacts a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
  }

  .headline__contacts a:nth-child(1) {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    -webkit-animation-name: roll;
            animation-name: roll;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }

  .headline__contacts a:nth-child(2) {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-name: roll;
            animation-name: roll;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }

  .headline__contacts a:nth-child(3) {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-name: roll;
            animation-name: roll;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}

@media screen and (max-width: 1023px) {
  .header__burger ~ nav {
    pointer-events: none;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 100%;
    height: calc(100vh - 100%);
    max-width: 9999px;
    width: 100%;
  }

  .header__burger ~ nav ul {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__burger ~ nav ul li {
    pointer-events: auto;
    height: calc(12.5% - 1px);
    border-top: 1px solid #3e3f43;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: white;
  }

  .header__burger ~ nav ul li:nth-child(1) {
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .header__burger ~ nav ul li:nth-child(2) {
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
    -webkit-transition-delay: 0.03s;
         -o-transition-delay: 0.03s;
            transition-delay: 0.03s;
  }

  .header__burger ~ nav ul li:nth-child(3) {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0.06s;
         -o-transition-delay: 0.06s;
            transition-delay: 0.06s;
  }

  .header__burger ~ nav ul li:nth-child(4) {
    -webkit-transition: 0.35s ease;
    -o-transition: 0.35s ease;
    transition: 0.35s ease;
    -webkit-transition-delay: 0.09s;
         -o-transition-delay: 0.09s;
            transition-delay: 0.09s;
  }

  .header__burger ~ nav ul li:nth-child(5) {
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-transition-delay: 0.12s;
         -o-transition-delay: 0.12s;
            transition-delay: 0.12s;
  }

  .header__burger ~ nav ul li:nth-child(6) {
    -webkit-transition: 0.45s ease;
    -o-transition: 0.45s ease;
    transition: 0.45s ease;
    -webkit-transition-delay: 0.15s;
         -o-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }

  .header__burger ~ nav ul li:nth-child(7) {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-transition-delay: 0.18s;
         -o-transition-delay: 0.18s;
            transition-delay: 0.18s;
  }

  .header__burger ~ nav ul li:nth-child(8) {
    -webkit-transition: 0.55s ease;
    -o-transition: 0.55s ease;
    transition: 0.55s ease;
    -webkit-transition-delay: 0.21s;
         -o-transition-delay: 0.21s;
            transition-delay: 0.21s;
  }

  .header__burger.active ~ nav ul li {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .header__search.active {
    width: 50%;
    min-width: 300px;
  }

  .header__logoblock {
    margin: 0 auto;
  }

  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__container {
    width: 50%;
    border-left: none !important;
  }

  .footer__container:first-child,
  .footer__container:nth-child(2) {
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
  }

  .footer__container-logo {
    max-width: 999px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 999px) {
  .headline__contacts a {
    margin-right: 20px;
  }

  .headline__contacts a:last-child {
    margin-right: 0px;
  }

  .headline__recall {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer__endline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__endline span:last-child {
    padding-bottom: 5px;
  }

  #up {
    left: calc(95% - 40px);
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer__logotext {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 700px) {
  .headline__contacts {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__search.active {
    width: calc(100% - 60px);
    min-width: calc(100% - 60px);
  }

  .header__search.active ~ .header__logoblock {
    opacity: 0;
    -webkit-transform: translateX(-300px) !important;
        -ms-transform: translateX(-300px) !important;
            transform: translateX(-300px) !important;
  }

  .header__logoblock {
    position: relative;
    left: calc(50% + 66px);
    margin-right: auto;
    margin-left: -106px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .footer__container {
    width: 100%;
  }

  .footer__container:nth-child(3) {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
  }

  .footer__container-logo {
    float: none;
  }

  .footer__container-nav {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

@media screen and (max-width: 1920px) and (min-width: 1440px) {
  h1 {
    font-size: calc(36px + (100vw - 1440px) * (0.025));
  }

  h2 {
    font-size: calc(36px + (100vw - 1440px) * (0.025));
  }

  .logo svg {
    height: calc(32.25px + (100vw - 1440px) * (0.0224));
  }

  .logo svg {
    width: calc(32.25px + (100vw - 1440px) * (0.0224));
  }

  .logo__name {
    font-size: calc(10.5px + (100vw - 1440px) * (0.00729));
  }

  .logo__upper {
    font-size: calc(13.5px + (100vw - 1440px) * (0.00937));
  }

  .header__content {
    height: calc(60px + (100vw - 1440px) * (0.04167));
  }

  .header__search {
    height: calc(22.5px + (100vw - 1440px) * (0.01563));
  }

  .header__search {
    width: calc(20.25px + (100vw - 1440px) * (0.01406));
  }

  .header__search {
    min-width: calc(20.25px + (100vw - 1440px) * (0.01406));
  }

  .header__search svg {
    height: calc(20.25px + (100vw - 1440px) * (0.01406));
  }

  .header__search svg {
    width: calc(20.25px + (100vw - 1440px) * (0.01406));
  }

  .header__search svg:nth-child(2) {
    height: calc(12px + (100vw - 1440px) * (0.00833));
  }

  .header__search svg:nth-child(2) {
    width: calc(12px + (100vw - 1440px) * (0.00833));
  }

  .header__search svg:nth-child(2) {
    right: calc(6px + (100vw - 1440px) * (0.00417));
  }

  .header__search input {
    border-radius: calc(7.5px + (100vw - 1440px) * (0.00521));
  }

  .header__search input {
    padding: calc(6px + (100vw - 1440px) * (0.00417));
  }

  .header__search input {
    padding-left: calc(11.25px + (100vw - 1440px) * (0.00781));
  }

  .header__search input {
    padding-right: calc(33.75px + (100vw - 1440px) * (0.02344));
  }

  .header__nav ul li a {
    font-size: calc(13.5px + (100vw - 1440px) * (0.00937));
  }

  .headline {
    height: calc(28.5px + (100vw - 1440px) * (0.01979));
  }

  .headline__location .svgcontainer {
    padding-right: calc(7.5px + (100vw - 1440px) * (0.00521));
  }

  .headline__location,
  .headline__links,
  .headline__contacts,
  .headline__recall {
    font-size: calc(12px + (100vw - 1440px) * (0.00833));
  }

  .headline__contacts a {
    margin-right: calc(30px + (100vw - 1440px) * (0.02083));
  }

  .headline__recall {
    font-size: calc(13.5px + (100vw - 1440px) * (0.00937));
  }

  .headline__recall .svgcontainer {
    height: calc(15px + (100vw - 1440px) * (0.01042));
  }

  .headline__recall .svgcontainer {
    width: calc(15px + (100vw - 1440px) * (0.01042));
  }

  .headline__recall .svgcontainer {
    padding-right: calc(11.25px + (100vw - 1440px) * (0.00781));
  }

  .headline__recall {
    margin-left: calc(75px + (100vw - 1440px) * (0.05208));
  }

  .breadcrumbs ul {
    height: calc(45px + (100vw - 1440px) * (0.03125));
  }

  .breadcrumbs ul li svg {
    max-width: calc(6.75px + (100vw - 1440px) * (0.00469));
  }

  .breadcrumbs ul li svg {
    max-height: calc(6.75px + (100vw - 1440px) * (0.00469));
  }

  .breadcrumbs ul li svg {
    padding-right: calc(5.25px + (100vw - 1440px) * (0.00365));
  }

  .breadcrumbs ul li a {
    font-size: calc(10.5px + (100vw - 1440px) * (0.00729));
  }

  .footer__content {
    padding-bottom: calc(60px + (100vw - 1440px) * (0.04167));
  }

  .footer__container {
    height: calc(168.75px + (100vw - 1440px) * (0.11719));
  }

  .footer__logoblock {
    padding-bottom: calc(30px + (100vw - 1440px) * (0.02083));
  }

  .footer__logotext {
    font-size: calc(10.5px + (100vw - 1440px) * (0.00729));
  }

  .footer__container-nav ul {
    width: calc(225px + (100vw - 1440px) * (0.15625));
  }

  .footer__container-nav ul li a {
    font-size: calc(13.5px + (100vw - 1440px) * (0.00937));
  }

  .footer__infocontainer {
    padding-bottom: calc(7.5px + (100vw - 1440px) * (0.00521));
  }

  .footer__infocontainer {
    width: calc(217.5px + (100vw - 1440px) * (0.15104));
  }

  .footer__infoblock svg {
    max-width: calc(11.25px + (100vw - 1440px) * (0.00781));
  }

  .footer__infoblock svg {
    max-height: calc(11.25px + (100vw - 1440px) * (0.00781));
  }

  .footer__infoblock svg {
    top: calc(2.25px + (100vw - 1440px) * (0.00156));
  }

  .footer__infoblock-text {
    font-size: calc(12px + (100vw - 1440px) * (0.00833));
  }

  .footer__container-question {
    width: calc(225px + (100vw - 1440px) * (0.15625));
  }

  .footer__question-title {
    font-size: calc(16.5px + (100vw - 1440px) * (0.01146));
  }

  .footer__question-title {
    padding-bottom: calc(7.5px + (100vw - 1440px) * (0.00521));
  }

  .footer__question-subtitle {
    font-size: calc(10.5px + (100vw - 1440px) * (0.00729));
  }

  .footer__question-subtitle {
    padding-bottom: calc(22.5px + (100vw - 1440px) * (0.01563));
  }

  .footer__question-time {
    font-size: calc(12px + (100vw - 1440px) * (0.00833));
  }

  .footer__question-time .svgcontainer {
    width: calc(16.5px + (100vw - 1440px) * (0.01146));
  }

  .footer__question-time .svgcontainer {
    height: calc(16.5px + (100vw - 1440px) * (0.01146));
  }

  .footer__question-time .svgcontainer {
    left: calc(-7.5px + (100vw - 1440px) * (-0.00521));
  }

  .footer__endline {
    height: calc(60px + (100vw - 1440px) * (0.04167));
  }

  .footer__endline span {
    font-size: calc(12px + (100vw - 1440px) * (0.00833));
  }

  .socialline {
    padding: calc(9px + (100vw - 1440px) * (0.00625));
  }

  .socialline_vertical li:not(:last-child) {
    padding-bottom: calc(3.75px + (100vw - 1440px) * (0.0026));
  }

  .socialline_vertical li:not(:first-child) {
    padding-top: calc(3.75px + (100vw - 1440px) * (0.0026));
  }

  .socialline_vertical li a {
    width: calc(15px + (100vw - 1440px) * (0.01042));
  }

  .socialline_vertical li a {
    height: calc(15px + (100vw - 1440px) * (0.01042));
  }

  .socialline_vertical li a {
    padding: calc(3.75px + (100vw - 1440px) * (0.0026));
  }

  .button {
    font-size: calc(13.5px + (100vw - 1440px) * (0.00937));
  }

  .card__image {
    height: calc(231.75px + (100vw - 1440px) * (0.16094));
  }

  .card__title {
    font-size: calc(22.5px + (100vw - 1440px) * (0.01563));
  }

  .card__title {
    padding-bottom: calc(11.25px + (100vw - 1440px) * (0.00781));
  }

  .card__title {
    padding-left: calc(22.5px + (100vw - 1440px) * (0.01563));
  }

  .card__title {
    padding-right: calc(22.5px + (100vw - 1440px) * (0.01563));
  }

  .card__text {
    font-size: calc(12px + (100vw - 1440px) * (0.00833));
  }

  .card__text {
    padding-left: calc(18.75px + (100vw - 1440px) * (0.01302));
  }

  .card__text {
    padding-right: calc(18.75px + (100vw - 1440px) * (0.01302));
  }

  .card__blueline {
    margin-left: calc(18.75px + (100vw - 1440px) * (0.01302));
  }

  .card__blueline {
    margin-right: calc(18.75px + (100vw - 1440px) * (0.01302));
  }

  .card__date {
    font-size: calc(13.5px + (100vw - 1440px) * (0.00937));
  }

  .card__date {
    padding-left: calc(18.75px + (100vw - 1440px) * (0.01302));
  }

  .card__date {
    padding-right: calc(18.75px + (100vw - 1440px) * (0.01302));
  }

  .blog__wrapper {
    padding-top: calc(52.5px + (100vw - 1440px) * (0.03646));
  }

  .blog__title {
    margin-bottom: calc(37.5px + (100vw - 1440px) * (0.02604));
  }

  .blog__bgtext {
    font-size: calc(110.25px + (100vw - 1440px) * (0.07656));
  }

  .blog__card {
    min-height: calc(431.25px + (100vw - 1440px) * (0.29948));
  }

  .blog {
    margin-bottom: calc(30px + (100vw - 1440px) * (0.02083));
  }

  .posts {
    padding-bottom: calc(22.5px + (100vw - 1440px) * (0.01563));
  }

  .posts__title {
    padding-bottom: calc(30px + (100vw - 1440px) * (0.02083));
  }

  .posts__title {
    font-size: calc(18px + (100vw - 1440px) * (0.0125));
  }

  .post__image {
    height: calc(341.25px + (100vw - 1440px) * (0.23698));
  }

  .post__container {
    padding-top: calc(33.75px + (100vw - 1440px) * (0.02344));
  }

  .post__container {
    padding-bottom: calc(18.75px + (100vw - 1440px) * (0.01302));
  }

  .post__container {
    margin-bottom: calc(30px + (100vw - 1440px) * (0.02083));
  }

  .post__info {
    padding: calc(33.75px + (100vw - 1440px) * (0.02344));
  }

  .post__title {
    font-size: calc(22.5px + (100vw - 1440px) * (0.01563));
  }

  .post__title {
    margin-top: calc(7.5px + (100vw - 1440px) * (0.00521));
  }

  .post__title {
    margin-bottom: calc(15px + (100vw - 1440px) * (0.01042));
  }

  .post__time {
    padding-left: calc(18.75px + (100vw - 1440px) * (0.01302));
  }

  .post__time {
    font-size: calc(13.5px + (100vw - 1440px) * (0.00937));
  }

  .post__time {
    margin-bottom: calc(45px + (100vw - 1440px) * (0.03125));
  }

  .post__time::before {
    top: calc(4.5px + (100vw - 1440px) * (0.00313));
  }

  .post__time::before {
    width: calc(9px + (100vw - 1440px) * (0.00625));
  }

  .post__time::before {
    height: calc(9px + (100vw - 1440px) * (0.00625));
  }

  .post__text {
    font-size: calc(12px + (100vw - 1440px) * (0.00833));
  }

  .post__text {
    padding-bottom: calc(37.5px + (100vw - 1440px) * (0.02604));
  }

  .post__tags {
    padding: calc(15px + (100vw - 1440px) * (0.01042));
  }

  .post__tags {
    padding-right: calc(33.75px + (100vw - 1440px) * (0.02344));
  }

  .post__tags {
    padding-left: calc(33.75px + (100vw - 1440px) * (0.02344));
  }

  .post__button {
    margin-left: calc(33.75px + (100vw - 1440px) * (0.02344));
  }

  .post__button {
    height: calc(34.5px + (100vw - 1440px) * (0.02396));
  }

  .post__button {
    width: calc(228.75px + (100vw - 1440px) * (0.15885));
  }

  .tags__title {
    font-size: calc(13.5px + (100vw - 1440px) * (0.00937));
  }

  .tags__title {
    margin-bottom: calc(21.75px + (100vw - 1440px) * (0.0151));
  }

  .tags__list li {
    margin-bottom: calc(9.75px + (100vw - 1440px) * (0.00677));
  }

  .tags__list li a {
    font-size: calc(13.5px + (100vw - 1440px) * (0.00937));
  }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 36px;
  }

  .logo svg {
    height: 32.25px;
  }

  .logo svg {
    width: 32.25px;
  }

  .logo__name {
    font-size: 10.5px;
  }

  .logo__upper {
    font-size: 13.5px;
  }

  .header__content {
    height: 60px;
  }

  .header__search {
    height: 22.5px;
  }

  .header__search {
    width: 20.25px;
  }

  .header__search {
    min-width: 20.25px;
  }

  .header__search svg {
    height: 20.25px;
  }

  .header__search svg {
    width: 20.25px;
  }

  .header__search svg:nth-child(2) {
    height: 12px;
  }

  .header__search svg:nth-child(2) {
    width: 12px;
  }

  .header__search svg:nth-child(2) {
    right: 6px;
  }

  .header__search input {
    border-radius: 7.5px;
  }

  .header__search input {
    padding: 6px;
  }

  .header__search input {
    padding-left: 11.25px;
  }

  .header__search input {
    padding-right: 33.75px;
  }

  .header__nav ul li a {
    font-size: 13.5px;
  }

  .headline {
    height: 28.5px;
  }

  .headline__location .svgcontainer {
    padding-right: 7.5px;
  }

  .headline__location,
  .headline__links,
  .headline__contacts,
  .headline__recall {
    font-size: 12px;
  }

  .headline__contacts a {
    margin-right: 30px;
  }

  .headline__recall {
    font-size: 13.5px;
  }

  .headline__recall .svgcontainer {
    height: 15px;
  }

  .headline__recall .svgcontainer {
    width: 15px;
  }

  .headline__recall .svgcontainer {
    padding-right: 11.25px;
  }

  .headline__recall {
    margin-left: 75px;
  }

  .breadcrumbs ul {
    height: 45px;
  }

  .breadcrumbs ul li svg {
    max-width: 6.75px;
  }

  .breadcrumbs ul li svg {
    max-height: 6.75px;
  }

  .breadcrumbs ul li svg {
    padding-right: 5.25px;
  }

  .breadcrumbs ul li a {
    font-size: 10.5px;
  }

  .footer__content {
    padding-bottom: 60px;
  }

  .footer__container {
    height: 168.75px;
  }

  .footer__logoblock {
    padding-bottom: 30px;
  }

  .footer__logotext {
    font-size: 10.5px;
  }

  .footer__container-nav ul {
    width: 225px;
  }

  .footer__container-nav ul li a {
    font-size: 13.5px;
  }

  .footer__infocontainer {
    padding-bottom: 7.5px;
  }

  .footer__infocontainer {
    width: 217.5px;
  }

  .footer__infoblock svg {
    max-width: 11.25px;
  }

  .footer__infoblock svg {
    max-height: 11.25px;
  }

  .footer__infoblock svg {
    top: 2.25px;
  }

  .footer__infoblock-text {
    font-size: 12px;
  }

  .footer__container-question {
    width: 225px;
  }

  .footer__question-title {
    font-size: 16.5px;
  }

  .footer__question-title {
    padding-bottom: 7.5px;
  }

  .footer__question-subtitle {
    font-size: 10.5px;
  }

  .footer__question-subtitle {
    padding-bottom: 22.5px;
  }

  .footer__question-time {
    font-size: 12px;
  }

  .footer__question-time .svgcontainer {
    width: 16.5px;
  }

  .footer__question-time .svgcontainer {
    height: 16.5px;
  }

  .footer__question-time .svgcontainer {
    left: -7.5px;
  }

  .footer__endline {
    height: 60px;
  }

  .footer__endline span {
    font-size: 12px;
  }

  .socialline {
    padding: 9px;
  }

  .socialline_vertical li:not(:last-child) {
    padding-bottom: 3.75px;
  }

  .socialline_vertical li:not(:first-child) {
    padding-top: 3.75px;
  }

  .socialline_vertical li a {
    width: 15px;
  }

  .socialline_vertical li a {
    height: 15px;
  }

  .socialline_vertical li a {
    padding: 3.75px;
  }

  .button {
    font-size: 13.5px;
  }

  .card__image {
    height: 231.75px;
  }

  .card__title {
    font-size: 22.5px;
  }

  .card__title {
    padding-bottom: 11.25px;
  }

  .card__title {
    padding-left: 22.5px;
  }

  .card__title {
    padding-right: 22.5px;
  }

  .card__text {
    font-size: 12px;
  }

  .card__text {
    padding-left: 18.75px;
  }

  .card__text {
    padding-right: 18.75px;
  }

  .card__blueline {
    margin-left: 18.75px;
  }

  .card__blueline {
    margin-right: 18.75px;
  }

  .card__date {
    font-size: 13.5px;
  }

  .card__date {
    padding-left: 18.75px;
  }

  .card__date {
    padding-right: 18.75px;
  }

  .blog__wrapper {
    padding-top: 52.5px;
  }

  .blog__title {
    margin-bottom: 37.5px;
  }

  .blog__bgtext {
    font-size: 110.25px;
  }

  .blog__card {
    min-height: 431.25px;
  }

  .blog {
    margin-bottom: 30px;
  }

  .posts {
    padding-bottom: 22.5px;
  }

  .posts__title {
    padding-bottom: 30px;
  }

  .posts__title {
    font-size: 18px;
  }

  .post__image {
    height: 341.25px;
  }

  .post__container {
    padding-top: 33.75px;
  }

  .post__container {
    padding-bottom: 18.75px;
  }

  .post__container {
    margin-bottom: 30px;
  }

  .post__info {
    padding: 33.75px;
  }

  .post__title {
    font-size: 22.5px;
  }

  .post__title {
    margin-top: 7.5px;
  }

  .post__title {
    margin-bottom: 15px;
  }

  .post__time {
    padding-left: 18.75px;
  }

  .post__time {
    font-size: 13.5px;
  }

  .post__time {
    margin-bottom: 45px;
  }

  .post__time::before {
    top: 4.5px;
  }

  .post__time::before {
    width: 9px;
  }

  .post__time::before {
    height: 9px;
  }

  .post__text {
    font-size: 12px;
  }

  .post__text {
    padding-bottom: 37.5px;
  }

  .post__tags {
    padding: 15px;
  }

  .post__tags {
    padding-right: 33.75px;
  }

  .post__tags {
    padding-left: 33.75px;
  }

  .post__button {
    margin-left: 33.75px;
  }

  .post__button {
    height: 34.5px;
  }

  .post__button {
    width: 228.75px;
  }

  .tags__title {
    font-size: 13.5px;
  }

  .tags__title {
    margin-bottom: 21.75px;
  }

  .tags__list li {
    margin-bottom: 9.75px;
  }

  .tags__list li a {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  h1 {
    font-size: calc(26px + (100vw - 320px) * (0.02232));
  }

  h2 {
    font-size: calc(22px + (100vw - 320px) * (0.01786));
  }

  .headline__location .svgcontainer {
    padding-right: calc(0px + (100vw - 320px) * (0.01674));
  }

  .headline__location {
    font-size: calc(14px + (100vw - 320px) * (0.00446));
  }

  .headline__location {
    letter-spacing: calc(-0.5px + (100vw - 320px) * (0.00112));
  }

  .headline__recall .svgcontainer {
    padding-right: calc(5px + (100vw - 320px) * (0.01395));
  }

  .headline__recall .svgcontainer {
    width: calc(15px + (100vw - 320px) * (0));
  }

  .headline__recall .svgcontainer {
    height: calc(15px + (100vw - 320px) * (0));
  }

  .headline__recall {
    font-size: calc(15px + (100vw - 320px) * (0.0067));
  }

  .headline__recall {
    letter-spacing: calc(-1px + (100vw - 320px) * (0.00223));
  }

  .footer {
    padding-top: calc(20px + (100vw - 320px) * (0.08929));
  }

  .footer__content {
    padding-bottom: calc(60px + (100vw - 320px) * (0.04464));
  }

  .footer__container {
    margin-bottom: calc(15px + (100vw - 320px) * (0.07813));
  }

  .footer__endline {
    height: calc(60px + (100vw - 320px) * (-0.03348));
  }

  .footer__endline span {
    font-size: calc(12px + (100vw - 320px) * (0.00893));
  }

  .blog__wrapper {
    padding-top: calc(25px + (100vw - 320px) * (0.02232));
  }

  .blog__title {
    margin-bottom: calc(15px + (100vw - 320px) * (0.02232));
  }
}

@media screen and (min-width: 1024px) and (max-width: 1920px) and (min-width: 1440px) {
  .header__search.active input {
    max-width: calc(300px + (100vw - 1440px) * (0.20833));
  }

  .header__search.active input {
    width: calc(300px + (100vw - 1440px) * (0.20833));
  }
}

@media screen and (min-width: 1024px) and (min-width: 769px) and (max-width: 1440px) {
  .header__search.active input {
    max-width: 300px;
  }

  .header__search.active input {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .header__search.active ~ nav ul li:nth-last-child(4) {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition-delay: 210ms;
         -o-transition-delay: 210ms;
            transition-delay: 210ms;
  }
}

@media screen and (max-width: 1023px) and (max-width: 1920px) and (min-width: 1440px) {
  .header__search.active {
    min-width: calc(225px + (100vw - 1440px) * (0.15625));
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px) and (max-width: 1440px) {
  .header__search.active {
    min-width: 225px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
  .headline__contacts a {
    margin-right: calc(20px + (100vw - 1000px) * (0.03333));
  }

  .headline__contacts a:last-child {
    margin-right: calc(0px + (100vw - 1000px) * (0.1));
  }

  .headline__recall {
    margin-left: calc(20px + (100vw - 1000px) * (0.18333));
  }
}

@media screen and (max-width: 600px) and (max-width: 1920px) and (min-width: 1440px) {
  .footer__container:nth-child(3) {
    padding-bottom: calc(18.75px + (100vw - 1440px) * (0.01302));
  }
}

@media screen and (max-width: 600px) and (min-width: 769px) and (max-width: 1440px) {
  .footer__container:nth-child(3) {
    padding-bottom: 18.75px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 768px) {
  .footer__logotext {
    padding-bottom: calc(25px + (100vw - 768px) * (-0.03415));
  }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .footer__container-nav ul li a {
    font-size: calc(15px + (100vw - 601px) * (0.01003));
  }

  .footer__container-nav ul li a {
    letter-spacing: calc(-0.4px + (100vw - 601px) * (0.00134));
  }

  .footer__infoblock-text {
    font-size: calc(14px + (100vw - 601px) * (0.00669));
  }

  .footer__infoblock-text {
    letter-spacing: calc(-0.4px + (100vw - 601px) * (0.00134));
  }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .footer__container-nav ul li a {
    font-size: calc(15px + (100vw - 320px) * (0.01071));
  }

  .footer__container-nav ul li a {
    letter-spacing: calc(-0.4px + (100vw - 320px) * (0.00143));
  }

  .footer__infoblock-text {
    font-size: calc(14px + (100vw - 320px) * (0.00714));
  }

  .footer__infoblock-text {
    letter-spacing: calc(-0.4px + (100vw - 320px) * (0.00143));
  }

  .footer__infoblock-text {
    padding-left: calc(20px + (100vw - 320px) * (0.01786));
  }
}

@media screen and (max-width: 1440px) and (min-width: 769px) {
  .card__title {
    font-size: calc(16px + (100vw - 769px) * (0.00969));
  }
}